.pokemon-list-container {
  padding: 0 40px;
}

.pokemon-list-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}
